# Pandas

## Series

#### Importing libraries

In [1]:
import numpy as np
import pandas as pd

#### Creating series from various object types - list, array, dictionary

In [2]:
headings = ['a', 'b', 'c']
list1 = [11,22,33]
arr1 = np.array(list1)
dict1 = {'a':11, 'b':22, 'c':33}

In [3]:
headings

['a', 'b', 'c']

In [4]:
list1

[11, 22, 33]

In [5]:
arr1

array([11, 22, 33])

In [6]:
dict1

{'a': 11, 'b': 22, 'c': 33}

#### Passing the data argument when creating series

In [7]:
pd.Series(data = list1)

0    11
1    22
2    33
dtype: int64

In [9]:
pd.Series(arr1)

0    11
1    22
2    33
dtype: int32

In [11]:
pd.Series(dict1)

a    11
b    22
c    33
dtype: int64

In [12]:
pd.Series(headings)

0    a
1    b
2    c
dtype: object

#### Passing the index values for customising.

In [8]:
pd.Series(data = list1, index = headings)

a    11
b    22
c    33
dtype: int64

#### Obtaining information from series.

In [13]:
series1 = pd.Series(dict1)

In [14]:
series1

a    11
b    22
c    33
dtype: int64

In [15]:
series1['a']

11

#### Operations on series

In [16]:
dict2 = {'a':1, 'b':2, 'd':3}

In [17]:
series2 = pd.Series(dict2)

In [18]:
series2

a    1
b    2
d    3
dtype: int64

In [19]:
series1

a    11
b    22
c    33
dtype: int64

Where there is a match, the operation is performed. When no match, nul value is returned.

In [20]:
series1 + series2

a    12.0
b    24.0
c     NaN
d     NaN
dtype: float64